@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ubuntu';
  src: url('assets/fonts/Ubuntu-Medium.ttf');
}

* {
  font-family: 'Ubuntu';
}

html{
  background-color: hsl(206, 94%, 87%);
  height: 100vh;
  position: relative;
}

@media (min-width: 640px) { 
  :root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}
