
@tailwind base;
@tailwind utilities;
@tailwind components;


html {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  background-color: hsl(206, 94%, 87%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (max-width: 768px) { 
  html {
    align-items: start;
  }
 }
